// fonts variables
$ubuntu:"Ubuntu", sans-serif;
$piazzo: "Piazzolla", serif;


// Colors variables
$main-color:#f773b5;
$font-color:#ffa400;
$blue-color:#495454;
$sec-color :#00dafd;
$white:#fff;
$break-white:#eaf6ff;
$black:#000;

// media queries variables
$xm: 572px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
