*,
*::before,
*::after {
    box-sizing: border-box;
}
@import "titles";
@import "grid";
@import "reset";
@import "padding";
@import "img";
@import "form";

.fas,
.far,
.fab,
.fa {
    margin: 0 0.25rem;
    vertical-align: middle;
}

.bg-bw {
    background-color: $break-white;
}

.t-center {
    text-align: center !important;
}

.fw-300 {
    font-weight: 300 !important;
}
