h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h1,
.h1 {
    font-size: 2.5em;
}
h2,
.h2 {
    font-size: 2.3em;
}
h3,
.h3 {
    font-size: 2em;
}
h4,
.h4 {
    font-size: 1.6em;
}
h5,
.h5 {
    font-size: 1.4em;
}
h6,
.h6 {
    font-size: 1.2em;
}
.main-title.b-title {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    @media (max-width: $md) {
        font-size: 2em;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}
.main-title {
    margin-bottom: 2rem;
    font-family: $ubuntu;
    line-height: 1;
    color: $main-color;
    text-align: center;
}

.b-title {
    font-family: "Dancing Script";
    margin-bottom: 2rem;
    color: $break-white;
    line-height: 2;
}
.l4-title {
    font-family: $piazzo;
    color: $main-color;
    font-size: 2rem;
    font-weight: 600;
}
.section-header {
    p {
        color: $black;
    }

    @media (max-widt: md) {
        max-width: 90%;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
