@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;200;300;400&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.5em;
}

h2,
.h2 {
  font-size: 2.3em;
}

h3,
.h3 {
  font-size: 2em;
}

h4,
.h4 {
  font-size: 1.6em;
}

h5,
.h5 {
  font-size: 1.4em;
}

h6,
.h6 {
  font-size: 1.2em;
}

.main-title.b-title {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 992px) {
  .main-title.b-title {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

.main-title {
  margin-bottom: 2rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  color: #f891d4;
  text-align: center;
}

.b-title {
  font-family: "Dancing Script";
  margin-bottom: 2rem;
  color: #e9f5ff;
  line-height: 2;
}

.l4-title {
  font-family: "Piazzolla", serif;
  color: #f891d4;
  font-size: 2rem;
  font-weight: 600;
}

.post-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #f891d4;
}

.widget-title {
  padding: 8px 0;
  margin-bottom: 30px;
  background-color: #f891d4;
  color: #fff;
  font-size: 18px;
  line-height: 2;
}

.section-header p {
  color: #333232;
}
@media (max-widt: md) {
  .section-header {
    max-width: 90%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 572px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

html {
  font-family: sans serif;
  line-height: 1.15rem;
}

body {
  margin: 0;
  font-family: "ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #495454;
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  outline: none;
}

ul,
li,
ol,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pt-120 {
  padding-top: 120px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.my-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.img {
  width: 100%;
  vertical-align: middle;
}

.img-rounded {
  border-radius: 50%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.form-control {
  position: relative;
  display: block;
  height: calc(2.5rem + 2px);
  outline: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.fas,
.far,
.fab,
.fa {
  margin: 0 0.25rem;
  vertical-align: middle;
}

.bg-bw {
  background-color: #e9f5ff;
}

.t-center {
  text-align: center !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #fad9eb;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  transition: 0.3s ease;
}
.btn:hover, .btn:focus {
  outline: none;
  background-color: #f66fc7;
  box-shadow: 2px 4px 8px rgba(51, 50, 50, 0.5);
}
.btn.btn-mini {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.btn.btn-big {
  padding: 0.75rem 0.5rem;
}
.btn.btn-outline:hover, .btn.btn-outline:focus {
  background-color: transparent;
  border-color: #f891d4;
  color: #f891d4;
  box-shadow: none;
}

header.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding-top: 0rem;
  font-family: "Ubuntu";
  border-top: 6px solid #f891d4;
  background-color: transparent;
  color: #e9f5ff;
  z-index: 999;
}
header.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  header.header.show .navigation {
    transform: translateX(0);
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 992px) {
  header.header .logo {
    position: absolute;
    left: 50px;
    top: 15px;
  }
}
header.header .logo img {
  max-width: 80px;
}
header.header .hamburger {
  display: none;
}
@media (max-width: 992px) {
  header.header .hamburger {
    display: block;
    position: absolute;
    color: #fff;
    right: 20px;
    top: 10px;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.25em;
    transition: all 0.3s ease;
  }
  header.header .hamburger:hover {
    color: rgba(233, 245, 255, 0.75);
    border-color: rgba(233, 245, 255, 0.75);
  }
  header.header .hamburger i {
    vertical-align: middle;
  }
}
@media (max-width: 992px) {
  header.header nav.navigation {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(51, 50, 50, 0.75);
    visibility: hidden;
    transform: translateX(-100%);
    transform: transform 0.5s ease, visibility 0.5s ease;
  }
}
header.header nav.navigation .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 50%;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links {
    display: block;
    max-width: 75%;
    width: 400px;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f891d4;
    color: #fff;
  }
}
header.header nav.navigation .nav-links .nav-item {
  margin-left: 1rem;
  list-style-type: none;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item {
    margin-bottom: 1rem;
  }
}
header.header nav.navigation .nav-links .nav-item .nav-link {
  padding: 0.35em 0.75em;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  line-height: 2;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item .nav-link {
    padding: 0.5rem 1rem;
    color: #fad9eb;
  }
}
@media (max-width: 992px) and (max-width: md) {
  header.header nav.navigation .nav-links .nav-item .nav-link {
    color: #e9f5ff;
    border-bottom-color: #e9f5ff;
  }
}

header.header nav.navigation .nav-links .nav-item .nav-link:hover, header.header nav.navigation .nav-links .nav-item .nav-link:active, header.header nav.navigation .nav-links .nav-item .nav-link.active, header.header nav.navigation .nav-links .nav-item .nav-link:hover {
  color: #fddcf2;
  border-block-color: #fddcf2;
}
header.header nav.navigation .nav-links .nav-item.submenu {
  position: relative;
}
@media (min-width: 992px) {
  header.header nav.navigation .nav-links .nav-item.submenu:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}
header.header nav.navigation .nav-links .nav-item.submenu .dropdown-menu {
  position: absolute;
  display: block;
  left: 0;
  top: 150%;
  min-width: 200px;
  padding: 0;
  text-align: left;
  background-color: #f891d4;
  color: #e9f5ff;
  border: none;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
header.header nav.navigation .nav-links .nav-item.submenu a.nav-link {
  display: block;
  width: 100%;
  transition: color 0.25s ease-in;
}
header.header nav.navigation .nav-links .nav-item.submenu a.nav-link:hover, header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka:active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link.active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link:hover {
  color: header.header nav.navigation .nav-links .nav-item.submenu a.nav-link:hover, header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka:active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link.active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link:hover sec-color;
  border-bottom-color: transparent;
}

.header.light-header {
  color: #f891d4;
}

.banner {
  padding: 12em 2em 8em 2em;
  background: linear-gradient(to bottom, rgba(248, 145, 212, 0.7) 20%, rgba(255, 255, 255, 0.4)), url("../imgs/banner/piste-avion.jpg") no-repeat top;
  background-size: cover;
  text-align: center;
  border-top: 6px solid #ff64c8;
}
.banner.single-banner {
  height: 200px;
  background: linear-gradient(to bottom, rgba(248, 145, 212, 0.7) 20%, rgba(255, 255, 255, 0.4)), url("../imgs/banner/antenne.jpg") no-repeat center;
  background-size: contain;
}
.banner.single-banner .b-title {
  margin-top: -5rem;
  margin-bottom: 0;
}
.banner .banner-wrapper {
  width: 70%;
  margin-top: -2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  text-shadow: 1px 1px 5px rgba(248, 145, 212, 0.25);
}
@media (max-width: 992px) {
  .banner .banner-wrapper {
    width: 90%;
  }
}
.banner .banner-wrapper .page-link a {
  padding: 0.5em 0;
  margin-left: 1rem;
  color: #e9f5ff;
  transition: 0.25s ease;
}
.banner .banner-wrapper .page-link a:hover {
  color: #f891d4;
}
.banner .banner-wrapper p {
  color: #fff;
  font-family: Open Sans Condensed;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .banner .banner-wrapper p {
    font-size: 1.1rem;
  }
}

.card .card-wrapper {
  display: flex;
}
.card .card-wrapper article {
  margin-right: 1rem;
  padding: 0 1rem 0 1.5rem;
  border: 2px solid transparent;
  border-right-color: rgba(250, 217, 235, 0.55);
}
.card .card-wrapper article:last-child {
  border-right-color: transparent;
}
.card .card-wrapper article header {
  margin-bottom: 2rem;
}
.card .card-wrapper article h4 {
  min-width: 75%;
  font-size: 1.6em;
  font-family: "Piazzolla", serif;
  font-weight: 500;
  color: #f891d4;
}
.card .card-wrapper article p {
  color: #333232;
}
@media (max-width: 992px) {
  .card .card-wrapper {
    flex-flow: column;
  }
  .card .card-wrapper article {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-right-color: transparent;
    border-bottom-color: rgba(250, 217, 235, 0.15);
  }
  .card .card-wrapper article:last-child {
    border-bottom-color: transparent;
  }
  .card .card-wrapper article h4 {
    max-width: 100%;
  }
}

#mentors .mentors-wrapper .mentors-container .mentor-box {
  width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 992px) {
  #mentors .mentors-wrapper .mentors-container .mentor-box {
    width: 50%;
    flex: 0 0 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  #mentors .mentors-wrapper .mentors-container .mentor-box {
    width: 90%;
    flex: 0 0 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
#mentors .mentors-wrapper .mentors-container .box {
  text-align: center;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 3px rgba(248, 145, 212, 0.25), -1px -1px 3px rgba(248, 145, 212, 0.25);
}
#mentors .mentors-wrapper .mentors-container .mentor-img {
  width: 200px;
  padding: 1rem;
  margin: auto;
  border-radius: 50%;
}

#services .service-container article {
  width: 50%;
  flex: 0 0 50%;
  padding-bottom: 15px;
}
@media (max-width: 992px) {
  #services .service-container article {
    width: 100%;
    flex: 0 0 100%;
  }
}
#services .service-container article header h4 {
  font-weight: 400;
  color: #f891d4;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(248, 145, 212, 0.25);
}
#services .service-container article p {
  color: #333232;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  #services .service-container article p {
    padding: 0;
  }
}

.news-intro {
  font-size: 1.1em;
  text-align: center;
  font-weight: 300;
}

.news-category .category-wrapper {
  justify-content: space-around;
  align-items: center;
}
.news-category .category-post {
  position: relative;
  width: 33%;
  flex: 0 0 33%;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 992px) {
  .news-category .category-post {
    width: 100px;
    flex: 0 0 100%;
    margin: 1rem 0;
  }
}
.news-category .category-post:hover .category-details {
  background-color: rgba(248, 145, 212, 0.65);
}
.news-category .category-post .category-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(25, 25, 32, 0.65);
  color: #e9f5ff;
  transition: all 0.3s ease;
}
.news-category .category-post .category-details h5 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #e9f5ff;
}
.news-category .category-post .category-details .border-line {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: #e9f5ff;
}
.news-category .category-post .category-details p {
  margin-bottom: 0;
  font-size: 1.1em;
  line-height: 2;
  font-weight: 400;
}

.news-blog.article-post-blog .post-elt {
  width: 67%;
  flex: 0 0 67%;
  font-size: 15px;
}
@media (max-width: 992px) {
  .news-blog.article-post-blog .post-elt {
    width: 100%;
    flex: 0 0 100%;
  }
}
.news-blog.article-post-blog .post-elt .post-img {
  width: 75%;
  flex: 0 0 75%;
}
@media (max-width: 992px) {
  .news-blog.article-post-blog .post-elt .post-img {
    width: 100%;
    flex: 0 0 100%;
  }
}
.news-blog.article-post-blog .post-elt .notice .quote {
  background-color: #e9f5ff;
  margin: 2rem 0;
  padding: 2rem 3rem;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.23);
}
.news-blog.article-post-blog .post-elt .notice .notice-img {
  width: 50%;
  flex: 0 0 50%;
  justify-content: space-between;
}
.news-blog.article-post-blog .post-elt .notice .notice-text {
  margin-top: 25px;
}
.news-blog.article-post-blog .post-elt .navigation-area {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.news-blog.article-post-blog .post-elt .navigation-area h4 {
  font-size: 1rem;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right {
  display: flex;
  flex: 0 0 50%;
  width: 50%;
  align-items: center;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left:hover,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right:hover {
  cursor: pointer;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left:hover .thumb img,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right:hover .thumb img {
  opacity: 0.5;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left:hover .details a,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right:hover .details a {
  color: #f891d4;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left:hover .arrow i,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right:hover .arrow i {
  opacity: 1;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left .arrow,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right .arrow {
  position: absolute;
  width: 60px;
  text-align: center;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left .arrow i,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right .arrow i {
  color: #f891d4;
  opacity: 0;
  transition: 0.3s ease-in;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left .thumb,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right .thumb {
  width: 60px;
  background-color: #000;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-left .thumb img,
.news-blog.article-post-blog .post-elt .navigation-area .nav-right .thumb img {
  transition: all 0.3s ease-in;
}
.news-blog.article-post-blog .post-elt .navigation-area .nav-right {
  flex-flow: row-reverse;
  text-align: right;
}
.news-blog.article-post-blog .post-elt .navigation-area .details p {
  margin-bottom: 0;
}
.news-blog.article-post-blog .post-elt .navigation-area .details a {
  color: #fad9eb;
  transition: 0.3s ease-in;
}
.news-blog.article-post-blog .post-elt .comment-area {
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
}
.news-blog.article-post-blog .post-elt .comment-area h4 {
  margin-bottom: 50px;
  font-size: 1.2rem;
  text-align: center;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment {
  align-items: center;
  border-bottom: 1px solid #eee;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .thumb {
  width: 15%;
  flex: 0 0 15%;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc {
  width: 85%;
  flex: 0 0 85%;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc h5 {
  margin-bottom: 0;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc h5 a {
  color: #c9acc0;
  font-size: 16px;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc .comment-options .row {
  justify-content: space-between;
  margin-bottom: 0;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc .comment-options small:first-child {
  font-style: italic;
  font-size: 11px;
  font-weight: bold;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc .comment-options small:last-child {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  transition: 0.25s ease-in;
  cursor: pointer;
}
.news-blog.article-post-blog .post-elt .comment-area .comment-row .single-comment .desc .comment-options small:last-child:hover {
  background-color: #f891d4;
  color: #e9f5ff;
}
.news-blog.article-post-blog .post-elt .comment-form {
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 45px 30px;
  background-color: rgba(243, 252, 255, 0.54);
  text-align: center;
  border: 1px solid #eee;
}
.news-blog.article-post-blog .post-elt .comment-form h4 {
  margin-bottom: 50px;
  font-size: 1.2rem;
}
.news-blog.article-post-blog .post-elt .comment-form .form-inline .form-group {
  width: 50%;
  padding-right: 1rem;
}
.news-blog.article-post-blog .post-elt .comment-form .form-control {
  width: 100%;
  padding: 8px 20px;
  font-size: 14px;
  color: #c9acc0;
  background-color: #fff;
  border: 1px solid transparent;
  transition: 0.25s ease;
}
.news-blog.article-post-blog .post-elt .comment-form .form-control:hover {
  border-color: rgba(248, 145, 212, 0.25);
}
.news-blog.article-post-blog .post-elt .comment-form .form-control:focus {
  box-shadow: 1px 1px 3px rgba(248, 145, 212, 0.6);
}
.news-blog.article-post-blog .post-elt .comment-form textarea.form-control {
  height: auto;
  resize: none;
}
.news-blog .news-info {
  width: 25%;
  flex: 0 0 25%;
  text-align: right;
}
.news-blog .news-info .post-tag {
  padding-bottom: 1rem;
}
.news-blog .news-info .post-tag a {
  font: 300 0.9em/1.2 "Ubuntu", sans-serif;
  color: #c9acc0;
  transition: 0.25s ease-in;
}
.news-blog .news-info .post-tag a:active, .news-blog .news-info .post-tag a.active, .news-blog .news-info .post-tag a.hover, .news-blog .news-info .post-tag a:hover {
  color: #f891d4;
}
.news-blog .news-info .news-meta {
  padding-left: 0;
}
.news-blog .news-info .news-meta a {
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1;
  vertical-align: middle;
  color: #333232;
}
.news-blog .news-left-side {
  width: 67%;
  flex: 0 0 67%;
}
@media (max-width: 992px) {
  .news-blog .news-left-side {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 2rem;
  }
}
.news-blog .news-left-side .news-item {
  display: flex;
  margin-bottom: 4rem;
}
.news-blog .news-left-side .news-item .news-post {
  width: 75%;
  flex: 0 0 75%;
}
.news-blog .news-left-side .news-item .news-post .news-details {
  padding-top: 1rem;
}
.news-blog .news-left-side .news-item .news-post .news-details h2 {
  margin-bottom: 1rem;
  color: #c9acc0;
  transition: 0.3s ease;
}
.news-blog .news-left-side .news-item .news-post .news-details a:hover h2 {
  color: #f891d4;
}
.news-blog .news-left-side .news-item .news-post .news-details p {
  color: #333232;
}
.news-blog .news-left-side .blog-pagination {
  display: flex;
  justify-content: center;
}
.news-blog .news-left-side .blog-pagination .pagination {
  display: flex;
  justify-content: center;
}
.news-blog .news-left-side .blog-pagination .pagination .page-item {
  border: none;
}
.news-blog .news-left-side .blog-pagination .pagination .page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  color: #fad9eb;
  border: none;
  transition: 0.3s ease;
}
.news-blog .news-left-side .blog-pagination .pagination .page-item .page-link:hover, .news-blog .news-left-side .blog-pagination .pagination .page-item .page-link.hover, .news-blog .news-left-side .blog-pagination .pagination .page-item .page-link:active, .news-blog .news-left-side .blog-pagination .pagination .page-item .page-link.active {
  color: #e9f5ff;
  background-color: #f891d4;
  text-decoration: none;
  border-color: rgba(250, 217, 235, 0.75);
}
.news-blog .news-left-side .blog-pagination .pagination .page-item .page-link:disabled, .news-blog .news-left-side .blog-pagination .pagination .page-item .page-link.disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: rgba(250, 217, 235, 0.55);
}
.news-blog .news-right-side {
  width: 33%;
  flex: 0 0 33%;
  height: fit-content;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(233, 245, 255, 0.2);
  border: 1px solid white;
}
@media (max-width: 992px) {
  .news-blog .news-right-side {
    width: 100%;
    flex: 0 0 100%;
  }
}
.news-blog .news-right-side .search-widget .input-group .form-control {
  width: 100%;
  padding: 0.357rem 0.75rem 0.375rem 20px;
  font-size: 14px;
  background-color: #f891d4;
  color: #fff;
  border: none;
  border-radius: 45px;
  z-index: 0;
}
.news-blog .news-right-side .search-widget .input-group .btn-widget {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
  border: none;
  transform: translateY(-50%);
  box-shadow: none;
  z-index: 1;
}
.news-blog .news-right-side .author-widget h4 {
  margin-top: 1rem;
}
.news-blog .news-right-side .author-widget p {
  margin-bottom: 0;
}
.news-blog .news-right-side .author-widget .social-icon {
  padding: 0.5rem 0 1rem;
}
.news-blog .news-right-side .author-widget .social-icon a {
  margin-right: 1rem;
  color: #c9acc0;
  transition: color 0.3s ease;
}
.news-blog .news-right-side .author-widget .social-icon a:hover {
  color: #f891d4;
}
.news-blog .news-right-side .newsletter-widget .form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
}
.news-blog .news-right-side .newsletter-widget .form-group .input-group .input-group-prepend {
  display: flex;
  margin-right: -1px;
}
.news-blog .news-right-side .newsletter-widget .form-group .input-group .input-group-prepend .input-group-text {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  margin-bottom: 0;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 2;
  vertical-align: top;
  border: 1px solid #eee;
  border-right: 0;
  border-radius: 0;
  white-space: nowrap;
}
.news-blog .news-right-side .newsletter-widget .form-group .input-group .form-control {
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  border: 1px solid #eee;
  border-left: 0;
  border-radius: 0;
}
.news-blog .news-right-side .newsletter-widget .form-group .bbtns {
  display: inline-block;
  padding: 0 24px;
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  background-color: #f891d4;
  color: #fff;
  border-radius: 0;
}
.news-blog .news-right-side .newsletter-widget .form-group .bbtns:hover, .news-blog .news-right-side .newsletter-widget .form-group .bbtns:focus {
  background-color: #f674c9;
  outline: none;
}
.news-blog .news-right-side .tag-cloud-widget ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.news-blog .news-right-side .tag-cloud-widget li {
  margin-bottom: 0.75rem;
  margin-right: 3px;
}
.news-blog .news-right-side .tag-cloud-widget a {
  padding: 5px 10px;
  font-size: 13px;
  background-color: #fff;
  color: #c9acc0;
  border: 1px solid white;
  transition: 0.3sec ease;
}
.news-blog .news-right-side .br {
  width: 100%;
  background-color: #eeee;
  height: 1px;
  height: 1px;
  margin: 30px 0;
}

.contact-info {
  align-items: center;
  min-height: 500px;
}
.contact-info .c-info {
  width: 33%;
  flex: 0 0 33%;
}
@media (max-width: 992px) {
  .contact-info .c-info {
    width: 100%;
    flex: 0 0 100%;
  }
}
.contact-info .c-info .info-item {
  margin-bottom: 1rem;
  align-items: center;
}
.contact-info .c-info .info-item h6 {
  margin-bottom: 0;
}
.contact-info .c-info .info-item p {
  margin-bottom: 0;
  color: #9999;
}
.contact-info .c-form {
  width: 67%;
  flex: 0 0 67%;
}
@media (max-width: 992px) {
  .contact-info .c-form {
    width: 100%;
    flex: 0 0 100%;
  }
}
.contact-info .c-form .left-form,
.contact-info .c-form .right-form {
  width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  .contact-info .c-form .left-form,
  .contact-info .c-form .right-form {
    width: 100%;
    flex: 0 0 100%;
  }
}
.contact-info .c-form .form-control {
  width: 100%;
  padding: 0.375em 1rem;
  font-size: 13px;
  color: #9999;
  border: 1px solid #f7f7f7;
  transition: box-shadow 0.25s ease;
}
.contact-info .c-form .form-control:hover, .contact-info .c-form .form-control:focus {
  color: rgba(248, 145, 212, 0.7);
}
.contact-info .c-form .form-control:focus {
  box-shadow: 1px 1px 3px rgba(248, 145, 212, 0.6);
}
.contact-info .c-form textarea.form-control {
  height: 150px;
  resize: none;
}
.contact-info .c-form .button-col {
  width: 100%;
  text-align: right;
}

.footer .footer-blocks .footer-block {
  width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  .footer .footer-blocks .footer-block {
    width: 100%;
    flex: 0 0 100%;
  }
}
.footer .footer-blocks .f-links li {
  margin-bottom: 1rem;
}
.footer .footer-blocks .f-links li a {
  padding: 0.5rem 0;
  color: #333232;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
.footer .footer-blocks .f-links li a:hover {
  color: #f891d4;
  border-bottom-color: #f891d4;
}
.footer .footer-blocks .s-links ul {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer .footer-blocks .s-links a {
  padding: 1rem;
  color: #333232;
  transition: 0.3s ease;
}
.footer .footer-blocks .s-links a:hover {
  color: #f891d4;
}
.footer .footer-blocks .copyright {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  color: #f891d4;
  text-align: center;
}
