.hamburger {
    display: block;
    position: absolute;
    color: $white;
    right: 20px;
    top: 10px;
    padding: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.25em;
    transition: all 0.3s ease;
    &:hover {
        color: transparentize($break-white, 0.25);
        border-color: transparentize($break-white, 0.25);
    }

    i {
        vertical-align: middle;
    }
}
